.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 20px;
  width: 250px;
  text-align: center;
}

.image-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.toggle-image {
  width: 100%;
  max-width: 200px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.toggle-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.toggle-btn {
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  background-color: #ddd;
  border: 1px solid #aaa;
  color: #333;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0;
}

.toggle-btn:hover {
  background-color: #bbb;
}

.toggle-btn.active {
  background-color: #000000;
  color: white;
  border-color: #000000;
}

.toggle-btn:nth-child(1) {
  background-color: #e5e4e2;
}

.toggle-btn:nth-child(2) {
  background-color: goldenrod;
}

.toggle-btn:nth-child(3) {
  background-color: #e7717d9b;
}

.toggle-btn:nth-child(4) {
  background-color: #e5e4e2;
}
.footer p {
  text-align: center;
}

.price {
  text-align: center;
  font-weight: bold;
}
