.covered-page-head {
  margin-top: 30px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
.covered-page-para {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
